/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home section */
#home{
    padding:3px 38px;
}
#home p{
 font-size: 13px;
}
#home::before{
    height: 700px;
    
}


/* Services section */
.services{
    display: flex;
    flex-direction:column;
}

.box{
    width: 80%;
}



/* Clients section */
#clients{
  flex-wrap: wrap;
}
#clients img{
    width: 35px;
    padding: 6px;
}
/* Contact us section */

/* footer */
/* Utility classes */

.h-primary{
font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}


