/* Navigation */
#logo img {
    margin: 0px 139px;
}
#navbar{
    flex-direction: column;
}
#navbar li {
    margin: 0px 6px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home section */
#home{
    padding:3px 38px;
}
#home p{
 font-size: 13px;
}
#home::before{
    height: 700px;
    
}


/* Services section */
.services{
    display: flex;
    flex-direction:column;
}


.box{
    padding: 28px 22px;
    width: 80%;
}



/* Clients section */
#clients{
  flex-wrap: wrap;
}
#clients img {
    width: 50px;
    padding: 16px;
    height: 0%;
}
#client-section{
    color: white;
}
/* Contact us section */

/* footer */
/* Utility classes */
#contact-box{
    width: 100%;
}
#contact-box form {
    width: 70%;
}
.h-primary{
font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}


